body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
.picture {
    transition: 0.5s;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #7e7e7e; 
    color: white;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid lightgray;
  }
  
  /* Hide the file input using
  opacity */
  #picture {
      position: absolute;
      filter: alpha(opacity=0);
      opacity: 0;
      width: 0px;
      height: 0px;
  }
.form-first-time{
    position:absolute;
    background: rgba(0,0,0,0.60);
    width :100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.input-first{
    width: 90%;
    padding: 4px;
    border: 2px lightgray solid;
    border-radius: 7px;
}
.white-label{
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: row;
    height: auto;
}
.select-first{
    width: 90%;
    padding: 10px;
}
.input-submit{
    width: 90%;
    padding: 25px;
    background: rgba(55, 51, 51, 1);
    color:white;
    border-radius: 4px;
    border: solid 2px lightgray;
}
.picture-preview{
    width: 90%;
}
header{
    background: rgba(55, 51, 51, 1);
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height:40px;
}
.white{
    color:rgb(255, 255, 255);
}
.logo-header{
    width: 12.5%;
}
.profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
    padding-bottom: 15px;
    max-height: 100px;
}
.profil-picture{
    max-width: 120px;
    clip-path: circle(40%);
}
.name{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 30px;
}
.firstname,.lastname{
    font-size: xx-large;
    text-align: center;
    margin: 2px;
    text-transform: capitalize;
    font-family: 'Inter';
}
.imc{
    display: flex;
    flex-direction: row;
    min-height: 200px;
    max-height: 300px;
    margin: 10px;
    align-items: center;
}
.img-imc,.img-cal{
    max-width: 80px;
}
.info-imc,.more-info-imc{
    text-align: center;
    font-size: large;
}
.info-imc{
    border-bottom: white 3px solid;
    padding-bottom: 10px;
}
.cal{
    margin: 10px;
    display: flex;
    align-items: center;
}
.cal-phrase{
    width: 100%;
    text-align: center;
    font-size: large;
    color:rgba(55, 51, 51, 1);
    margin: 10px; 
}
.more-info{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
table{
    width: 100%;
}
th,td{
    margin:25px;
    text-align: center;
}
.phrase{
    margin: 20px;
    width: 100%;
}
.update-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 800px;
    justify-content: space-between;
    margin-top: 10px;
}
.input-update{
    width: 90%;
    padding: 8px;
    border: lightgray solid 2px;
    border-radius: 5px;
}
.a-history{
    text-decoration: none;
}
.btn-history{
    text-align: center;
    margin: 10px;
    background: rgba(55, 51, 51, 1);
    border-radius: 5px;
    padding: 15px;
    font-size: large;
    border: none;
}
.div-history{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.warning{
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 7.5px;
    color :rgba(55, 51, 51, 1);
}
i{
    padding: 5px;
}
.callback{
    text-align: center;
    background: rgba(55, 51, 51, 1);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 3.5px;
    border: none;
    color: white;
    margin-bottom: 10px;
}

