body{
    margin:10px;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
.logo{
    display: flex;
}
.img-logo{
    width: 30%;
    margin: auto;
    border-bottom: darkgray 3px solid;
    padding: 0px 25%;
}
.a-history{
    text-decoration: none;
    color: white;
}
.btn-history{
    text-align: center;
    /* margin: 10px; */
    background: rgba(55, 51, 51, 1);
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
    font-size: medium;
    border: none;
}
.warning{
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 7.5px;
    color :rgba(55, 51, 51, 1);
}
.input-submit{
    text-align: center;
    /* margin: 10px; */
    background: rgba(55, 51, 51, 1);
    padding: 5px;
    width: 100px;
    height: 50px;
    font-size: medium;
    border: none;
    color: white;
}
.input-submit:hover{
    background: rgb(17, 16, 16);
    color: lightgray;
}
.input-update{
    margin: 10px;
    width: 90%;
    padding: 8px;
    border: lightgray solid 2px;
    border-radius: 5px;
}
.div-submit{
    margin: 10px;
    display: flex;
    justify-content: center;
}