body{
    margin:0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
.picture {
    transition: 0.5s;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #7e7e7e; 
    color: white;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid lightgray;
  }
  
  /* Hide the file input using
  opacity */
  #picture {
      position: absolute;
      filter: alpha(opacity=0);
      opacity: 0;
      width: 0px;
      height: 0px;
  }
.form-first-time{
    position:absolute;
    background: rgba(0,0,0,0.60);
    width :100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.input-first{
    width: 90%;
    padding: 4px;
    border: 2px lightgray solid;
    border-radius: 7px;
}
.white-label{
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: row;
    height: auto;
}
.select-first{
    width: 90%;
    padding: 10px;
}
.input-submit{
    width: 90%;
    padding: 25px;
    background: rgba(55, 51, 51, 1);
    color:white;
    border-radius: 4px;
    border: solid 2px lightgray;
}
.picture-preview{
    width: 90%;
}
header{
    background: rgba(55, 51, 51, 1);
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height:40px;
}
.white{
    color:rgb(255, 255, 255);
}
.logo-header{
    width: 12.5%;
}
.profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
    padding-bottom: 15px;
    max-height: 100px;
}
.profil-picture{
    max-width: 120px;
    clip-path: circle(40%);
}
.name{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 30px;
}
.firstname,.lastname{
    font-size: xx-large;
    text-align: center;
    margin: 2px;
    text-transform: capitalize;
    font-family: 'Inter';
}
.title{
    text-align: center;
    font-size: x-large;
    width: 96%;
}
.main-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.card-history{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 95%;
    margin: 10px;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid rgb(146, 146, 146);
}
table{
    width: 100%;
}
th,td{
    margin:25px;
    text-align: center;
    
}
th{
    font-size: small;
    border-bottom: 1px solid black;
}
span{
    border: 1px darkgray solid;
    background-color: #7e7e7e;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.date-color{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    margin: 0px 10px;
}
.a-history{
    text-decoration: none;
}
.btn-history{
    text-align: center;
    /* margin: 10px; */
    background: rgba(55, 51, 51, 1);
    padding: 5px;
    width: 25px;
    height: 25px;
    font-size: medium;
    border: none;
}