body{
    margin :0;
    font-family: 'Inter', sans-serif;
}
header{
    background: rgba(55, 51, 51, 1);
    padding: 20px;
    max-height:40px;
}
.logo{
    width: 50%;
    margin: auto;
    border-bottom: rgba(0, 74, 173, 1) 3px solid;
    padding: 0px 25%;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.blue{
    color:rgba(0, 74, 173, 1);
}
.white{
    color:rgb(255, 255, 255);
}
footer{
    background:rgba(0, 74, 173, 1);
    padding: 20px 10px
}
p{
    font-size: 19px;
}
.two-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.two-img > img{
    width: 45%;
    height: 45%;
}
.a-history{
    text-decoration: none;
}
.btn-create,.btn-login{
    text-align: center;
    /* margin: 10px; */
    background: rgba(55, 51, 51, 1);
    margin: 10px;
    width: 90%;
    height: 50px;
    font-size: medium;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.btn-create{
    background: rgba(55, 51, 51, 1);
}
.btn-login{
    background: rgb(74, 131, 71);
}