body{
    margin :0;
    color: white;
    background:center / contain linear-gradient(270deg, #004AAD 0.61%, rgba(0, 80, 138, 0.56) 49.48%, #004AAD 99.97%);
    font-family: 'Inter', sans-serif;
}
header{
    background: rgba(55, 51, 51, 1);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height:40px;
}
.white{
    color:rgb(255, 255, 255);
}
.logo-header{
    width: 12.5%;
}
.main{
    display:flex;
    flex-direction: column;
}
.register{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px;
    height: 450px;
    justify-content:space-evenly;
}
.label-login{
    display: flex;
    /* text-align: center; */
    justify-content: center;
}
.change{
    font-size: large;
    text-align: end;
    margin: 20px;
    color: white;
}
input{
    padding:8px;
    border: 2px lightgray solid;
    border-radius: 7px;
}
i{
    padding: 5px;
}
select{
    padding: 8px;
    border: 2px lightgray solid;
    border-radius: 7px;
}
.label-register{
    margin: 10px auto 0px;
    font-size: x-large;
}
.login{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px;
    height: 200px;
    justify-content:space-evenly;
}